# Игнорирование временных файлов и папок
__pycache__/
*.pyc

# Игнорирование файлов сборки
build/
dist/
*.egg-info/

# Игнорирование файлов настроек IDE
.idea/
.vscode/

# Игнорирование файлов среды виртуализации
venv/
env/

# Игнорирование файлов с личной информацией
*.env

# Игнорирование файлов с локальными настройками
*.local
*.log
